@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Vestastraat<br />
    Oudorp, 1829XS<br />
    <abbr title="Telefoon">T:</abbr>
    +31(0)6 53313035
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:SolosoftNL@gmail.com">SolosoftNL@gmail.com</a><br />
    </address>